@layout MtaLayout
@inherits MtaBase
@page "/mta"

<h3>Client tick: @ClientTick</h3>
<h3>Server tick: @ServerTick</h3>
<div>
    <input type="text" @bind-value:event="oninput" @bind-value="Text" />
    <button @onclick='() => Bridge.Call("outputChatBox", Text)'>Execute: outputChatBox("@Text")</button>
</div>

<button @onclick='() => Bridge.CallServer("getServerTick", 1,"2", new { test = "testValue" }, new List<string>() { "a", "b", "c" })'>Update server tick</button>
@code
{
    public string Text { get; set; } = "";

    [MtaValue("clientTick")]
    public int ClientTick { get; set; } = 0;

    [MtaValue("serverTick")]
    public int ServerTick { get; set; } = 0;
}